Repository futuredapp/FTPropertyWrappers, pull requests merged in 2020-03, with the labels that each got.

#26 Keychain: Add documentation
  Sources/FTPropertyWrappers/GenericPassword.swift
  Sources/FTPropertyWrappers/InternetPassword.swift
  Sources/FTPropertyWrappers/Keychain - Support/KeychainDecoder.swift
  Sources/FTPropertyWrappers/Keychain - Support/KeychainEncoder.swift
  Sources/FTPropertyWrappers/Keychain - Support/KeychainItemPropertyWrapper.swift
  Sources/FTPropertyWrappers/Keychain - Support/KeychainTypes.swift
  Sources/FTPropertyWrappers/Keychain - Support/SingleValueKeychainItem.swift
Labels: Feature: Keychain

#27 User Defaults & Serialized: Add documentation
  Sources/FTPropertyWrappers/Serialized.swift
  Sources/FTPropertyWrappers/UserDefault.swift
Labels: Feature: Synchronization, Feature: User Defaults

#31 Keychain: Initial review refactoring
  Sources/FTPropertyWrappers/GenericPassword.swift
  Sources/FTPropertyWrappers/Keychain - Support/KeychainDecoder.swift
  Sources/FTPropertyWrappers/Keychain - Support/KeychainEncoder.swift
  Sources/FTPropertyWrappers/Keychain - Support/KeychainItemPropertyWrapper.swift
  Sources/FTPropertyWrappers/Keychain - Support/KeychainTypes.swift
  Sources/FTPropertyWrappers/Keychain - Support/SingleValueKeychainItem.swift
Labels: Feature: Keychain

#33 Add stored subject documentation
  README.md
  Sources/FTPropertyWrappers/StoredSubject.swift
Labels: Feature: Observables

#32 Keychain: Add example project
  Documentation/example.gif
  Example/FTPropertyWrappersExample.xcodeproj/project.pbxproj
  Example/FTPropertyWrappersExample.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  Example/FTPropertyWrappersExample.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  Example/FTPropertyWrappersExample/ContentView.swift
  Example/FTPropertyWrappersExample/Supporting/AppDelegate.swift
  Example/FTPropertyWrappersExample/Supporting/Assets.xcassets/AppIcon.appiconset/Contents.json
  Example/FTPropertyWrappersExample/Supporting/Assets.xcassets/Contents.json
  Example/FTPropertyWrappersExample/Supporting/Base.lproj/LaunchScreen.storyboard
  Example/FTPropertyWrappersExample/Supporting/Info.plist
  Example/FTPropertyWrappersExample/Supporting/Preview Assets.xcassets/Contents.json
  Example/FTPropertyWrappersExample/Supporting/SceneDelegate.swift
  README.md
  Sources/FTPropertyWrappers/GenericPassword.swift
Labels: Feature: Keychain
